*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.navbar .links {
  margin-left: auto;
}
.navbar h1 {
  color: rgb(219, 85, 85);
}
.navbar a{
  text-decoration: none;
  padding: 6px;
  margin-left: 16px;
  
}
.navbar a:hover {
  color: rgb(202, 48, 48);
  text-decoration: underline;
  
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #4a5f53;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgb(224, 196, 196);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: crimson;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
}
.create button {
  background: crimson;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;

}